body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  background-color: #E5E5E5;
}

body .header .advertisement {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#080063), color-stop(49.51%, #7E6183), to(#070053));
  background: linear-gradient(90deg, #080063 0%, #7E6183 49.51%, #070053 100%);
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

@media (max-width: 567px) {
  body .header .advertisement {
    width: 100%;
    height: 60px;
    background: -webkit-gradient(linear, left top, right top, from(#080254), color-stop(52.08%, rgba(9, 2, 84, 0.6)), to(#090254));
    background: linear-gradient(90deg, #080254 0%, rgba(9, 2, 84, 0.6) 52.08%, #090254 100%);
  }
}

body .header .advertisement .n4 {
  position: absolute;
  left: 9.84%;
  right: 83.23%;
  top: 0.89%;
  bottom: -10.91%;
  -webkit-transform: rotate(-8.96deg);
          transform: rotate(-8.96deg);
}

@media (max-width: 567px) {
  body .header .advertisement .n4 {
    display: none;
  }
}

body .header .advertisement .n3 {
  position: absolute;
  left: 23.47%;
  right: 73.33%;
  top: 1.25%;
  bottom: -1.25%;
  width: 119px;
  height: 80px;
}

@media (max-width: 567px) {
  body .header .advertisement .n3 {
    position: absolute;
    left: 3.2%;
    right: 83.73%;
    top: 21.67%;
    bottom: 25%;
    width: 49px;
    height: 32px;
  }
}

body .header .advertisement .n2 {
  position: absolute;
  left: 75.05%;
  right: 21.3%;
  top: 0%;
  bottom: -12.5%;
  width: 70px;
  height: 90px;
}

@media (max-width: 567px) {
  body .header .advertisement .n2 {
    position: absolute;
    left: 84.27%;
    right: 3.73%;
    top: 6.67%;
    bottom: 0%;
    width: 45px;
    height: 56px;
  }
}

body .header .advertisement .n1 {
  position: absolute;
  left: 82.19%;
  right: 10.16%;
  top: 0.75%;
  bottom: 0%;
}

@media (max-width: 567px) {
  body .header .advertisement .n1 {
    display: none;
  }
}

body .header .advertisement .title {
  position: absolute;
  left: 37.14%;
  right: 45.59%;
  top: 13.75%;
  bottom: 46.25%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .header .advertisement .title {
    position: absolute;
    left: 28%;
    right: 50.13%;
    top: 13.33%;
    bottom: 61.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
  }
}

body .header .advertisement .text1 {
  position: absolute;
  left: 36.79%;
  right: 39.48%;
  top: 60%;
  bottom: 18.75%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .header .advertisement .text1 {
    position: absolute;
    left: 27%;
    right: 48.47%;
    top: 43.33%;
    bottom: 16.67%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
  }
}

body .header .advertisement .text1 span {
  margin-left: 0.1px;
}

@media (max-width: 567px) {
  body .header .advertisement .text1 span {
    margin-left: 13px;
  }
}

body .header .advertisement .text1 .img1 {
  width: 17.81px;
  height: 17.81px;
}

@media (max-width: 567px) {
  body .header .advertisement .text1 .img1 {
    margin-right: 5px;
    width: 8.13px;
    height: 7.5px;
  }
}

body .header .advertisement .btn-light {
  position: absolute;
  left: 56.15%;
  right: 35.78%;
  color: #FFFFFF;
  top: 25%;
  bottom: 25%;
  background: transparent;
  width: 155px;
  height: 40px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 567px) {
  body .header .advertisement .btn-light {
    position: absolute;
    left: 57.87%;
    right: 20.8%;
    top: 26.67%;
    bottom: 30%;
    width: 80px;
    font-size: 10px;
    height: 26px;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
  }
}

body .header .selector {
  width: 100%;
  height: 40px;
  margin-top: 80px;
  padding-top: 1px;
  background: #EEEEEE;
}

@media (max-width: 567px) {
  body .header .selector {
    display: none;
  }
}

body .header .selector .dropdown .lang {
  position: absolute;
  top: 9.1px;
  margin-left: 75.08%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 567px) {
  body .header .selector .dropdown .lang {
    display: none;
  }
}

body .header .selector .dropdown-two .uzs {
  position: absolute;
  top: 90px;
  margin-left: 82.6%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 567px) {
  body .header .selector .dropdown-two .uzs {
    display: none;
  }
}

body .header .selector .log {
  position: absolute;
  top: 88.4px;
  margin-left: 87.4%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

body .header .navbar {
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  margin-top: 0.1px;
}

@media (max-width: 567px) {
  body .header .navbar {
    margin-top: 60px;
    height: 115px;
  }
}

body .header .navbar .navbar-brand {
  z-index: 2;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-left: 4.06%;
}

@media (max-width: 567px) {
  body .header .navbar .navbar-brand {
    position: absolute;
    left: 35.47%;
    right: 35.47%;
    top: 10px;
    z-index: 200;
    color: #000000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-left: 0.001%;
  }
}

body .header .navbar .input-group {
  z-index: 2;
  margin-left: 60px;
  width: 515px;
  height: 50px;
  border-radius: 50px;
}

@media (max-width: 567px) {
  body .header .navbar .input-group {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 53.04%;
    bottom: 12.17%;
    width: 90%;
    height: 40px;
    margin-left: 0.0001px;
    background: #EEEEEE;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
  }
}

body .header .navbar .input-group .search {
  height: 100%;
  background: #EEEEEE;
  border: 2px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

body .header .navbar .input-group .input-group-append .btn {
  width: 78px;
  height: 50px;
  background: #9E96FF;
  border: 1px solid #9E96FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 50px 50px 0px;
}

@media (max-width: 567px) {
  body .header .navbar .input-group .input-group-append .btn {
    width: 60px;
    height: 100%;
  }
}

@media (max-width: 567px) {
  body .header .navbar .dropdown-four {
    display: block;
    position: absolute;
    left: 85.07%;
    right: 7.27%;
    top: 13px;
    bottom: 80.52%;
  }
}

body .header .navbar .dropdown-four .btn {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-top: -5px;
  display: none;
  z-index: 30;
}

@media (max-width: 567px) {
  body .header .navbar .dropdown-four .btn {
    display: block;
  }
}

body .header .navbar .navbar-toggler {
  position: absolute;
  left: 4%;
  right: 89.6%;
  top: 15.65%;
  bottom: 63.48%;
  width: 24px;
  height: 24px;
  z-index: 200;
}

body .header .navbar .collapse {
  background-color: #FFFFFF;
  z-index: 100;
  height: auto;
}

@media (max-width: 567px) {
  body .header .navbar .collapse {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
  }
}

body .header .navbar .collapse .dropdown {
  position: absolute;
  left: 35px;
  right: 81.87%;
  top: 38px;
  bottom: 92.93%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: none;
  margin-top: 0.00001px;
  z-index: 200;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .dropdown {
    display: block;
  }
}

body .header .navbar .collapse .dropdown-two {
  display: none;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .dropdown-two {
    position: absolute;
    left: 120px;
    right: 58.13%;
    top: 38px;
    bottom: 92.93%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    z-index: 200;
    color: #000000;
    display: block;
  }
}

body .header .navbar .collapse .tab-selector {
  width: 100%;
  display: none;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .tab-selector {
    margin-top: 25px;
    display: block;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

body .header .navbar .collapse .tab-selector .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -32px;
  margin-left: 60%;
  width: 100%;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .tab-selector .nav {
    margin-top: 1px;
    margin-left: 0.1%;
  }
}

body .header .navbar .collapse .tab-selector .nav .nav-item {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .navbar .collapse .tab-selector .nav .nav-item .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 567px) {
  body .header .navbar .collapse .tab-selector .nav .nav-item .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
  }
}

body .header .navbar .collapse .tab-selector .nav .nav-item .nav-link.active {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #3026A7;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .tab-selector .nav .nav-item .nav-link.active {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border-bottom: 3px solid #9E96FF;
  }
}

body .header .navbar .collapse .container-fluid {
  display: none;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .container-fluid {
    display: block;
    z-index: 200;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
}

body .header .navbar .collapse .container-fluid .tab-content .tab-pane section .row .col-12 .card-body .card-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

body .header .navbar .collapse .container-fluid .tab-content .tab-pane section .row .col-12 .card-body ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

body .header .navbar .collapse .location {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3026A7;
  display: none;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    margin-left: 11%;
    padding-bottom: 20px;
  }
}

body .header .navbar .collapse .navbar-nav {
  margin-left: 30%;
}

body .header .navbar .collapse .navbar-nav .nav-item {
  margin-top: 10px;
}

body .header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .navbar-nav .nav-item .nav-link {
    display: none;
  }
}

body .header .navbar .collapse .navbar-nav .nav-item .btn {
  width: 46px;
  height: 46px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-top: -5px;
}

@media (max-width: 567px) {
  body .header .navbar .collapse .navbar-nav .nav-item .btn {
    display: none;
  }
}

body .header .navbar .collapse .navbar-nav .modal .modal-dialog .modal-content .close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1002px;
  top: 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.15);
}

body .header .modal .modal-dialog .modal-content .close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 97.4%;
  top: -22px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .change-category {
  background: #3026A7;
  height: 60px;
}

@media (max-width: 567px) {
  body .header .change-category {
    display: none;
    height: 0px;
    background-color: transparent;
  }
}

body .header .change-category .dropdown {
  margin-top: 10px;
  margin-left: 56px;
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 3px;
}

@media (max-width: 567px) {
  body .header .change-category .dropdown {
    display: none;
  }
}

body .header .change-category .dropdown .dropdown-toggle {
  margin-left: 90px;
  margin-top: 5px;
}

body .header .change-category .navigation {
  margin-left: 50px;
}

@media (max-width: 567px) {
  body .header .change-category .navigation {
    display: none;
  }
}

body .header .change-category .navigation .nav {
  margin-top: 10px;
}

@media (max-width: 567px) {
  body .header .change-category .navigation .nav {
    display: none;
  }
}

body .header .change-category .navigation .nav li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

body .header .change-category .submiter {
  margin-left: 29.3%;
}

@media (max-width: 567px) {
  body .header .change-category .submiter {
    display: none;
  }
}

body .header .change-category .submiter button {
  background: #FFFFFF;
  border-radius: 5px;
  width: 193px;
  height: 40px;
  margin-top: 10px;
}

@media (max-width: 567px) {
  body .header .change-category .submiter button {
    display: none;
  }
}

body .main .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

@media (max-width: 567px) {
  body .main .container-fluid {
    padding-left: 0.1%;
    padding-right: 0.1%;
  }
}

body .main .container-fluid #row {
  margin-top: 30px;
  background-color: #FFFFFF;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 28px;
  padding-bottom: 70px;
}

@media (max-width: 567px) {
  body .main .container-fluid #row {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body .main .container-fluid #row #mainDescription {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

body .main .container-fluid #row #mainDescription .main-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription .main-title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}

body .main .container-fluid #row #mainDescription .describe {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription .describe {
    display: none;
  }
}

body .main .container-fluid #row #mainDescription .category {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

body .main .container-fluid #row #mainDescription #selector {
  padding-left: 10px;
  width: 411px;
  height: 50px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription #selector {
    width: 99%;
  }
}

body .main .container-fluid #row #mainDescription .enterName {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription .enterName {
    margin-top: 15px;
  }
}

body .main .container-fluid #row #mainDescription #productName {
  width: 655px;
  height: 50px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription #productName {
    width: 99%;
  }
}

body .main .container-fluid #row #mainDescription .price {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescription .price {
    margin-top: 15px;
  }
}

body .main .container-fluid #row #mainDescription .input-group {
  width: 270px;
}

body .main .container-fluid #row #mainDescription .input-group #price {
  width: 195px;
  height: 50px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body .main .container-fluid #row #mainDescription .input-group #valuta {
  margin-left: 15px;
  width: 60px;
  height: 50px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body .main .container-fluid #row .col-4 {
  padding: 30px;
}

@media (max-width: 567px) {
  body .main .container-fluid #row .col-4 {
    display: none;
  }
}

body .main .container-fluid #row .col-4 .card .card-body .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

body .main .container-fluid #row .col-4 .card .card-body .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

body .main .container-fluid #row #mainPhotos {
  margin-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

body .main .container-fluid #row #mainPhotos .main-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

body .main .container-fluid #row #mainPhotos .main-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

body .main .container-fluid #row #mainPhotos .row #addPhoto #image_input {
  display: none;
}

body .main .container-fluid #row #mainPhotos .row #addPhoto label {
  width: 100%;
  padding-top: 40px;
  height: 115px;
  background: rgba(158, 150, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .container-fluid #row #mainPhotos .row .col-3 .addImg {
  width: 100%;
  height: 115px;
  border-bottom: 10px solid #E5E5E5;
  border-top: 10px solid #E5E5E5;
  border-left: 30px solid #E5E5E5;
  border-right: 30px solid #E5E5E5;
  background-position: center;
  background-color: #E5E5E5;
  background-image: url("assets/image/photo.svg");
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainPhotos .row .col-3 .addImg {
    margin-top: 15px;
    height: 75px;
    border-left: 25px solid #E5E5E5;
    border-right: 25px solid #E5E5E5;
  }
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainPhotos .row #willDelete {
    display: none;
  }
}

body .main .container-fluid #row #mainPhotos .row #willDelete .addImg {
  width: 100%;
  height: 115px;
  border-bottom: 10px solid #E5E5E5;
  border-top: 10px solid #E5E5E5;
  border-left: 30px solid #E5E5E5;
  border-right: 30px solid #E5E5E5;
  background-position: center;
  background-color: #E5E5E5;
  background-image: url("assets/image/photo.svg");
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainPhotos .row #willDelete .addImg {
    display: none;
  }
}

body .main .container-fluid #row #mainDescriptions {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

body .main .container-fluid #row #mainDescriptions .main-descriptions {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

body .main .container-fluid #row #mainDescriptions .main-write {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

body .main .container-fluid #row #mainDescriptions #comment {
  text-align: start;
  background: #EEEEEE;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding-bottom: 38%;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainDescriptions #comment {
    padding-bottom: 36%;
    height: 210px;
  }
}

body .main .container-fluid #row #mainContact {
  padding-top: 40px;
  padding-bottom: 70px;
}

body .main .container-fluid #row #mainContact .contact-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

body .main .container-fluid #row #mainContact .contact-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

body .main .container-fluid #row #mainContact #namePerson {
  width: 411px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background: #F5F5F5;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainContact #namePerson {
    width: 100%;
  }
}

body .main .container-fluid #row #mainContact #numberPerson {
  width: 252px;
  height: 50px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body .main .container-fluid #row #mainContact #locationPerson {
  width: 411px;
  background: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainContact #locationPerson {
    width: 100%;
  }
}

body .main .container-fluid #row #mainContact .form-check .form-check-label #check {
  width: 25px;
  height: 25px;
  background: #000000;
  color: 2px solid #3026A7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .main .container-fluid #row #mainContact .form-check .agree {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
}

body .main .container-fluid #row #mainContact .form-check .agree a {
  font-size: 16px;
  text-decoration: underline;
  color: #3026A7;
}

body .main .container-fluid #row #mainContact .btn {
  margin-top: 50px;
  margin-left: 80%;
  width: 155px;
  height: 40px;
  background: #3026A7;
  border-radius: 5px;
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .main .container-fluid #row #mainContact .btn {
    margin-left: 30%;
  }
}

body .footer {
  padding-top: 10%;
  margin-top: 10%;
  position: relative;
}

@media (max-width: 567px) {
  body .footer {
    margin-top: 30%;
  }
}

body .footer .container {
  height: 304px;
  background: #FFFFFF;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  top: -41px;
  left: 10%;
  right: 10%;
}

@media (max-width: 567px) {
  body .footer .container {
    width: 90%;
    height: 151px;
    left: 5%;
    right: 5%;
    top: -70px;
  }
}

body .footer .container .row .col-sm-12 .footer-title {
  position: absolute;
  top: 42px;
  left: 30%;
  right: 30%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 567px) {
  body .footer .container .row .col-sm-12 .footer-title {
    top: 20px;
    left: 24%;
    right: 24%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}

body .footer .container .row .col-sm-12 .footer-text {
  position: absolute;
  top: 80px;
  left: 7.5%;
  right: 7.5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 567px) {
  body .footer .container .row .col-sm-12 .footer-text {
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }
}

body .footer .container .row .col-sm-12 .input-group {
  position: absolute;
  top: 135px;
  width: 762px;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 567px) {
  body .footer .container .row .col-sm-12 .input-group {
    width: 90%;
    top: 82px;
    height: 40px;
  }
}

body .footer .container .row .col-sm-12 .input-group .email {
  width: 83%;
  height: 50px;
  background: #EEEEEE;
  border-radius: 5px, 0px, 0px, 5px;
}

@media (max-width: 567px) {
  body .footer .container .row .col-sm-12 .input-group .email {
    width: 60%;
  }
}

body .footer .container .row .col-sm-12 .input-group .input-group-append .btn {
  width: 129px;
  height: 50px;
  background: #3026A7;
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 567px) {
  body .footer .container .row .col-sm-12 .input-group .input-group-append .btn {
    width: 109px;
  }
}

body .footer .container-fluid {
  z-index: 1;
  height: 356px;
  padding-left: 1px;
  background-color: #1C138D;
}

@media (max-width: 567px) {
  body .footer .container-fluid {
    padding-left: 25px;
    height: 214px;
  }
}

body .footer .container-fluid .row .col-sm-12 {
  background-color: transparent;
  margin-top: 176px;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 {
    margin-top: 62px;
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-one {
  width: 30%;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-one ul {
  list-style: none;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-one ul h4 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-one ul h4 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-one ul li a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-one ul li a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-two {
  width: 38%;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-two ul {
  list-style: none;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-two ul h4 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-two ul h4 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-two ul li a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-two ul li a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-three {
  width: 32%;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-three ul {
  list-style: none;
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-three ul h4 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-three ul h4 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
}

body .footer .container-fluid .row .col-sm-12 .row .footer-col-three ul li a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media (max-width: 567px) {
  body .footer .container-fluid .row .col-sm-12 .row .footer-col-three ul li a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
  }
}
/*# sourceMappingURL=addProduct.css.map */